@model List<AppCitasMedicas.DTO.Response.Doctor.DoctorResponse>

<h2>Lista de Doctores</h2>

<a asp-action="Crear" class="btn btn-success mb-3">
    Agregar Doctor
</a>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>EspecialidadId</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.EspecialidadId</td>
                <td>@item.Telefono</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Editar"
                       asp-route-id="@item.DoctorId"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a asp-action="Eliminar"
                       asp-route-id="@item.DoctorId"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Seguro que desea eliminar este paciente?');">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>